*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;  
}
.navbar{
    height: 60px;
    /* width: 100%; */
    background-color: #0F1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image:url("amazon_logo (2).png ") ;
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:1.5px solid white ;
}
/* boxs */
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}
/* box 3 */
.nav-search{
    display: flex;
    justify-content:space-evenly ;
    background-color: orange;
    width: 620px;
    height: 40px;
    border-radius: 2px;
}
.nav-search:hover{
    border: 2px solid orange;
}

.select-search{
    background-color:#f3f3f3 ;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px ;
    border-bottom-left-radius: 4px;
    border: none;
}
.input-search{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.Search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: darkgoldenrod;
    border-top-right-radius:4px ;
    border-bottom-right-radius: 4px;
    color: #0F1111
}
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
}
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    display: flex;
    background-color: #222f3d;
    height:40px;
    color: white;
    align-items: center;
    justify-content:space-evenly ;

}
.panel-options p{
    display: inline;
    margin-left: 15px;
}

.panel-options{
    font-size: 0.85rem;
    width: 70%;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight:700 ;
}

.hero-section{
    background-image: url("hero_image (1).jpg");
    background-size: cover;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom:25px ;
    width: 80%;
    position: relative;
    margin-bottom: 25px;
}

.hero-message a{
   color: #0075;
}
/* shop-section design */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
   
}
.box{
    border: 2px solid black;
    height:300px ;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}
.box-image{
    height: 230px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-container{
    margin-left: 1rem;
    margin-right: 1rem;
}
